/*********************************************
**************    GLOBAL    ***************
**********************************************/
section
{
    padding: 1rem;
    margin: 0%;
    
}
body
{
    margin: 0%;
    
    
}

h1,h2
{
    margin: 0;
}

/*********************************************
**************    NAME    ***************
**********************************************/

.name
{
    color: rgb(245, 243, 240) ;
    background-color: rgb(46, 25, 75);
    display:flex;
    text-align: center;
    
}
.name div
{
  flex:2 ;  
}

.name h1
{
    font-size: 5em;
    line-height: 1;
}

/*********************************************
**************    EDUCATION    ***************
**********************************************/
   
.education
{
    background-image: url(./images/edu.jpg);
    background-position: top right;
    color: rgb(0, 0, 0);
    
   
}
.education h1{
    font-size: 2rem;
}
.e_cname{
    font-weight: bold;
}